<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
  <title><%= title %></title>
</head>
<body>
  <%= message %>
  <p>Check out the <a href="/subreddits">subreddits!</a></p>
</body>
</html>