<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
  <title><%= title %></title>
</head>
<body>
	<% include partials/nav %>
	<div class="container">
		<%= content %>
	</div>
</body>
</html>