<!DOCTYPE html>
<html>
<head>
	<% include partials/head %>
	<title>Subreddits</title>
</head>
<body>
	<div class="container">
		<h1>Subreddits!</h1>
		<% for (let i = 0; i < subs.length; i++) { %>
			<div class="subreddit">
				<h3><a href="/subreddits/<%= subs[i].id %>"><%= subs[i].title %></a></h3>
				<p><%= subs[i].description %></p>
			</div>
		<% } %>

		<h2>Create a new subreddit:</h2>
		<form id="subreddit-form" action="/subreddits" method="post">
			<label for="title">Subreddit Title</label>
			<input type="text" name="title" value="title" id="form-title">
			<label for="description">Subreddit Description</label>
			<textarea type="description" name="description" value="description" id="form-description"></textarea>
			<button type="submit">Create</button>
		</form>
	</div>
	<script
	src="http://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>
	<script type="text/javascript" src="/scripts/subreddits.js"></script>
</body>
</html>